.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.pagination button.active {
    background-color: #f1f1f1;
    color: black;
}